/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
    color: #424242;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #324552;

    &:hover {
        text-decoration: underline;
        color: #0f1518;
    }
}

/**
 * Buttons
 */
.add-user_btn {

    &:hover {
        text-decoration: none;
        color: white;
    }
}

/**
 * Icons
 */
.fa-icon {
    cursor: pointer;
}

.fa-pen:hover {
    color: #0d6efd;
}

.fa-trash:hover {
    color: #D64751;
}

.fa-eye:hover {
    color: #59bc58;
}


/**
 * Containers
 */
.user-details_container {
    background-color: #EBF6FF;
    border: 1px solid #5DB9FF;
}